
.container{

    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("./pixlr-bg-result.png");

}


.logo{

    width: 350px;
    height: 350px;
    margin-bottom: 30px;

}

.boton{

    border: none;
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(187,63,221,1) 0%, rgba(252,118,161,1) 50%, rgba(255,159,124,1) 100%);
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;

}

.boton:hover{

    opacity: 0.6;

}